__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.ven/
venv/
env/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Distribution
dist/
build/

# Environment variables
.env

# Railway/Vercel
.vercel
.railway
